{%extends 'base.html'%}
{%block head%}
<style>
  .img-fluid {
    width: 105%;
    height: 400px;
  }
</style>
{%endblock head%}

{% block body %}


<div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
  <div class="my-3 py-3">
    <h2 class="display-5">About us</h2>
    <p class="lead">The company established on 20005 <br>The best belive company for icecream customers.<br>
      Location of office <b>Mayur Nagar,New Delhi </b>
    </p>
  </div>
  <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">
    <img src="https://cdn.pixabay.com/photo/2017/08/03/14/38/ice-cream-2576622__340.jpg" class="img-fluid" alt="...">

  </div>
</div>
 {%endblock body%}