{%extends 'base.html'%}
{% block body %} 

<div class="p-5 mb-4 bg-dark rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold text-light">Services</h1>
      <p class="col-md-8 fs-4 text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. At deleniti quos porro accusantium eligendi atque cumque aspernatur, blanditiis ex?</p>
      </div>
      <h2 class="text-light">How I can ordered ?</h2>
      <p class="text-light">You simply goes to home page and select the your icecream and order</p>
  </div>


{%endblock body%}
